@charset "utf-8";
/* CSS Document */

body{
	background:black;
}

footer{
	background-color: #063;
	margin-top:100px;
	text-align:center;
	width:1173px;
	height:156px;
	top:309px;
	position:absolute;
	border-radius:12px;
	left: 20px;
	
}

button {
	background-color: #2d6cdf;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}

header{
	background:#36F;
	margin-top:2px;
	width:1166px;
	height:51px;
	text-align:center;
	position:absolute;
	border-radius:12px;
	top: 6px;
	left: 23px;
}

nav{
	background: #3FF;
	margin-top:10%;
	width:1167px;
	height:40px;
	text-align:center;
	position:absolute;
	border-radius:12px;
	left: 24px;
	top: -54px;
}

article{
	background: #C66;
	text-align:center;
	width:479px;
	height:225px;
	top:16px;
	left:83px;
	position:absolute;
	border-radius:12px;
}

section{
	background: #999;
	text-align:center;
	width:669px;
	height:261px;
	position:absolute;
	top:131px;
	border-radius:12px;
	left: 24px;
}

aside{
	background: #636;
	text-align:center;
	float:right;
	width:469px;
	height:257px;
	top:136px;
	left:723px;
	position:absolute;
	border-radius:12px;
}
