<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/plantilla.css" th:href="@{../css/plantilla.css}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Citas Medicas</title>


</head>

<body>

<header>
    <h1>Registrar Cita</h1>
    <p>Mi sitio web creando Citas</p>
</header>

<nav>
    <h2>Bienvenidos</h2>
</nav>

<section>

    <p><h3>Genera una Cita!!</h3>
    </header>


    <form action="/plantilla"  th:action="@{datos}"  th:object="${Datos}" method="post">
        <label>Nombre del Paciente: </label>
        <input type="text" th:field="*{nomP}" placeholder="Ingrese tu nombre" name="commenter_name"/><p>  </p><p>  </p><p>  </p>
        <label>Asunto: </label>
        <input type="text" th:field="*{Asun}" placeholder="Malestar" name="comment_text" /><p>  </p><p>  </p><p>  </p>
        <label>Nombre del Doctor: </label>
        <select th:field="*{nomD}">
            <option value="Dra. Aracely" >Dra. Aracely</option>
            <option value="Dr. Andres">Dr. Andres</option>
            <option value="Dra. Mercedes">Dra. Mercedes</option>
            <option value="Dra. Alice">Dra. Alice</option>
        </select><p>  </p><p>  </p><p>  </p>
        <label>Fecha: </label>
        <input type="date" th:field="*{fecha}">
        <label>Hora: </label>
        <input type="time" th:field="*{hora}">
        <input type="submit" value="Agregar" />
    </form>




</section>
<aside>
        <th:block th:each="c : ${addDatos}">
            <li><b><label th:text="'Nombre Paciente: ' + ${c.nomP}"></label>
                <label th:text="'Fecha: ' + ${c.fecha}"></label>
                <label th:text="'Hora: ' + ${c.hora}"></label>
                <label th:text="'Nombre Doctor@ ' + ${c.nomD}"></label>
                <label th:text="'Asunto: ' + ${c.Asun}"></label><br/></b>

            </li>
        </th:block>


</aside>

<footer><h2> Para mayor Informes</h2>
    <p><p>Sofia Gil Velasquez</p>
    <p>Información de contacto: <a href="mailto:sofia.gil@uabc.edu.mx">sofia.gil@hotmail.com</a>.</p></p>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



</body>
</html>